APP_NAME=2024_fastapi_structure
APP_ENV=dev
SECRET_KEY=jwt_secret
DEBUG=True
DATABASE_URL=postgresql+asyncpg://postgres:123456@localhost/2024_fastapi_structure

EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=
EMAIL_HOST=
EMAIL_PORT=

BASE_URL=http://0.0.0.0:8000

S3_REGION=
S3_BUCKET_NAME=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_MEDIA_PREFIX=